#portfolio{
	border:1px blue solid;
	background-color: $gray-900 !important;
	
	.container-features{
		border: 1px yellow solid;
		padding:0 2em;
		width:100%;	
			
		h2, h3{
			color: white;
		}
		h3{
			color: $primary !important;
		}

		.portfolio-item{
			border: 1px red solid;
			height: 30em;
			padding: 0;

			.portfolio-link{
				height: 100%;
				margin:0 0.5em;
				// position: static !important;

				.portfolio-details{
					display: flex;
					flex-direction: column;
					justify-content: space-between;							
					background-color: white !important;
					height:100%;
					overflow: hidden;
					position: relative;

					.portfolio-hover {

						.portfolio-hover-content{
							border:1px red solid;
						}
						// background: fade-out($gray-600, .1) !important;
						background: fade-out($gray-700, .1) !important;
						z-index: 1000;


						
						// position: absolute !important;
						height: 100%;
						i{
							color:$primary;

						}
					}

					.image-container{
						max-height: 20em;
						overflow: hidden;
						border:1px green solid;
					}
					
					.portfolio-caption{
						padding:2em 0.5em !important;
					}
				}

				
			}
		}
			
	}
}


@media(min-width:767px){
	#portfolio{
		padding:7em 0 !important;
		.container-features{
			padding:0 3em;
			

			.portfolio-details{
				// margin: !important;
			}
		}
	}
}
.modal-content {
  max-width: 50% !important;
  height: 50% !important;
  padding:2em 0 !important;
	
	.close-modal{
		// top: 0.5em !important;
  //   	right: 0.5em !important;
		width: 2em !important;
    	height: 2em !important;
    	.lr{
			height: 2em !important;
			margin-left: 1em !important;
			width: 2px;
			.rl{
				height: 2em !important;
				width: 2px;
			}
    	}
	}
  .container {
  	border:1px red solid;
    // width: 50% !important;
    h2{
    	// font
    }
	
  }
}






